opencv-python>=4.8.0
numpy==1.24.3
torch>=2.0.0
torchvision>=0.15.0
ultralytics>=8.0.0
Pillow>=10.0.0
matplotlib>=3.7.0
scipy>=1.11.0
setuptools>=65.0.0
tensorflow==2.13.0
tensorflowjs>=4.15.0
yggdrasil-decision-forests>=2.0.0
tensorflowjs-converter
